@model TestDelivery.DAL.Questions.MultipleChoiceQuestion

@Html.Partial("~/Views/Question/QuestionFields.cshtml")

<div class="editor-label">
    <label>Answers</label>
</div>

<div class="answers editor-field">
    @{var answerTemplateViewName = "~/Views/MultipleChoiceQuestion/AnswerTemplate.cshtml";}
    <div class="answer-container">
        @if (Model.Answers != null)
        {
            foreach (var answer in Model.Answers)
            {
            @Html.Partial(answerTemplateViewName, answer)
            }
        }
    </div>
    <button onclick="MultipleChoiceQuestion.addAnswerTemplate()" type="button">Add Answer</button>
    <div class="answer-template-container" style="display: none">
        @Html.Partial(answerTemplateViewName, new TestDelivery.DAL.Questions.PossibleAnswer())
    </div>
</div>
