@model TestDelivery.DAL.Questions.Question
@{
    Layout = null;
}


@if (string.IsNullOrWhiteSpace(Model.Content))
{
    <div class="question-body">
        <p class="summary">@Model.Summary</p>
    </div>
}
else
{
    <div class="question-body">
    </div>
    <textarea class="question-body-textarea" style="display:none">@Html.Raw(Model.Content)</textarea>

    <script type="text/javascript">
        convertMarkdown(".question-body-textarea", ".question-body");
    </script>
}

