@model TestDelivery.DAL.Questions.FreeTextQuestion

@Html.Partial("~/Views/Question/Test.cshtml")

<div class="question-answer input">
    <input type="text" name="answer" id="answer" autocomplete="off" />
</div>
