@model TestDelivery.UI.ViewModels.WelcomeModel
@{
    Layout = "~/Views/Shared/RespondentLayout.cshtml";
    ViewBag.Name = Model.Respondent.Name;
    ViewBag.Email = Model.Respondent.Email;
    ViewBag.Title = "Welcome";
}
<div class="content-box">
    <div class="title">Interviu
    </div>

    <p>
        Bine ai venit la interviul online Equilobe. 
    </p>

    <p>
        Interviul este format din intrebari si probleme, fiecare fiind contra cronometru.
    </p>

    <p>
        Cand esti gata sa mergi la test, apasa pe butonul de mai jos. 
    </p>

    <p class="attention">
        Asigura-te ca folosesti un browser modern si ca ai JavaScript activat.
    </p>

    <p>
        <strong>Succes!
        </strong>
    </p>

    @if(Model.TotalDuration.TotalSeconds>0){
    <p class="hint">
        Durata interviu: maxim @Model.TotalDuration.ToDurationString()
    </p>
    }
    else{
        <p class="hint">
            Momentan nu ai nici un test disponibil
        </p>
    }


    @if (Model.NextTest != null)
    {
        <div class="actions">
            <button onclick="window.location = '@Url.Action("take", "test", new { code = @Model.NextTest.SecretCode })'">
                Mergi la test</button>
        </div>
    }
</div>

